.page-archive {
    padding: 0 25px;
    &__main {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            padding-left: 7px;
            margin-bottom: 10px;
        }
        &__year{
            text-align: center;
        }
    }
}
