{% assign lang_en = site.data.languages['en'] %}
{% assign lang_cn = site.data.languages['zh-Hans'] %}

<div class="site-header__logo">
    <img class="logo" src="{{site.baseurl}}/assets/images/mario.png">
</div>    

<div class="site-header__nav">    
    {% for name_path in site.menu %} 
    {% assign name = name_path[0] %} 
    {% assign path = name_path[1] %}
    {% assign icon_name = name | downcase %}
    {% assign item_name_cn = lang_cn.menu[icon_name] %}
    {% assign item_name_en = lang_en.menu[icon_name] %}
    <div class="menu-item">
        <a href="{{ site.baseurl }}{{path}}"><i class="fa fa-fw fa-{{site.menu_icons[icon_name]}}"></i>{{item_name_cn}} | {{item_name_en}}</a>
    </div> 
    {% endfor %}
</div>
<!-- {% if page.layout == 'post' %}
<div >
    <ul>
        <li><a id="en" href="">English</a></li>
        <li><a id="cn" href="">中文</a></li>
    </ul>
</div>
{% endif %} -->

