.page-post{
    
    font-family: $font-family-posts;
    padding-left: 40px;
    padding-right: 40px;

    @include mobile() {
        word-break: break-word;
      }

    &__header{
        hr {            
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
            margin-bottom: 20px;
            border-top: solid 1px $grey-dark;
            width: 300px;
        }
    }
    &__content{
        margin-top: 20px;
    }
    &__footer{

    }
}