.site-footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__item{
        max-width: 350px;
        color: $grey-dark;
        font-size: 12px;
        text-align: center;
    }
    a  {
        color: $grey-dark;
    }

}
