@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear:both;
    }
}
@mixin mobile() {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin tablet() {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  
  @mixin desktop() {
    @media (min-width: 992px) {
      @content;
    }
  }
  
  @mixin desktop-large() {
    @media (min-width: 1600px) {
      @content;
    }
  }
  @mixin the-transition() {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  