// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
$theme-color: #0047AB;
$deputy-color: #FFFFDD;
$code-font-family: Source Code Pro, Consolas, Monaco, Menlo;
$content-headings-anchor: "ξ";
